:root{
    --verde-floresta:#1B4332;
    --verde-medio:#2D6A4F;
    --verde-claro:#40916C;
    --azul-lago:#1D3557;
    --azul-claro:#457B9D;
    --fundo:#F1FAEE;
    --branco:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: url('../img/background.png') center / cover no-repeat;
    display:flex;
    justify-content:center;
    padding:40px 15px;
}

.container{
    width:100%;
    max-width:900px;
}

.titulo{
    text-align:center;
    color: rgb(0, 0, 0);
    font-size:3.2rem;
    font-weight:bold;
    margin-bottom:40px;
    letter-spacing:1px;
    font-family: "Oswald", sans-serif;
}

.item{
    display:flex;
    align-items:stretch;
    margin-bottom:20px;
    background:var(--branco);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s ease;
}

.item:hover{
    transform:translateY(-4px);
}

.numero{
    background:linear-gradient(180deg, var(--verde-medio), var(--verde-claro));
    color:var(--branco);
    font-size:1.5rem;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    min-width:80px;
}

.conteudo{
    padding:20px;
}

.conteudo h3{
    margin-bottom:8px;
    color:var(--verde-floresta);
}

.conteudo p{
    color:#444;
    font-size:0.95rem;
    line-height:1.5;
}

.horario{
    margin-top:8px;
    font-weight:bold;
    color:var(--azul-claro);
}

/* RESPONSIVO */
@media (max-width: 400px){
    body{
        background: url('../img/mobile.png') no-repeat center center fixed;
        background-size: cover;
        justify-content:center;
        padding:20px 10px;
        height: 100vh;
    }

    .titulo{
        font-size:1.4rem;
    }

    .container{
        width:100%;
        padding:0 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .item{
        flex-direction: row;
        height: 10vh;
        margin-bottom: 2vh;
        border-radius:8px;
        box-shadow:0 4px 10px rgba(0,0,0,0.1);
        align-items: center;
    }

    .numero{
        height: 10vh;
        min-width:50px; /* menor para caber melhor no celular */
        font-size:1rem;
        padding:12px;
    }

    .conteudo{
        padding:10px;
    }

    .conteudo h3{
        font-size:0.8rem;
        margin-bottom:2px;
    }

    .conteudo p{
        font-size:0.70rem;
        line-height:1.3;
    }

    .horario{
        font-size:0.7rem;
        margin-top:4px;
    }

}
